body {
	font-family: sans-serif;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  overflow: hidden;
}

.nokia {
	width: 262px;
	height: 610px;
	background: url('./Nokia1100.png') no-repeat;
	background-size: contain;
}

.screen {
  position: relative;
	left: 50%;
  top: 24%;
	transform: translateX(-50%);
	width: 182px;
	height: 135px;
	background: rgb(31, 106, 31);
	border-radius: 5% / 50%;
	box-shadow: inset -3px 3px 3px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	padding: 12px 12px 10px 10px;
  font-size: 12px;
}

.space {
  height: 80px;
  width: 60px;
  background-color: black;
  position: relative;
  border: none;
  top: 180px;
  left: 100px;
}

.top {
  height: 40px;
  width: 70px;
  background-color: green;
  position: relative;
  border: none;
  top: 230px;
  left: 35px;
}

.down {
  height: 40px;
  width: 70px;
  background-color: blue;
  position: relative;
  border: none;
  top: 310px;
  right: 35px;
}

.right {
  height: 40px;
  width: 60px;
  background-color: pink;
  position: relative;
  border: none;
  top: 270px;
  right: 35px;
}

.left {
  height: 40px;
  width: 60px;
  background-color: yellow;
  position: relative;
  border: none;
  top: 225px;
  left: 30px;
}

.playzone {
  height: 99%;
  width: 99%;
  display: grid;
  grid-template-columns: repeat(18, 8px);
  grid-template-rows: repeat(12, 8px);
  width: max-content;
  gap: 1px;
  border: 1px solid #111;
}

.score {
  font-size: 20px;
  font-weight: bold;
}

.cell {
  width: 8px;
  height: 8px;
}

.food {
  background-color: red;
}

.snake {
  background-color: black;
}

.snake-head {
  background-color: black;
  border-radius: 2px 2px 0 0;
}