body {
  background-color: #EDCAF0;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nokia-phone {
  height: 96dvh;
  margin-bottom: 14px;
  width: 450px;
  overflow: hidden;
  background-color: #3C3D68;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
}

.top {
  height: 55%;
  width: 99%;
  background-color: #BABDE2;
  border-radius: 0 0 70% 70%; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.holder {
  height: 85%;
  width: 90%;
  background-color: #3C3D68;
  border-radius: 0 0 40% 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 2%;
}

.screen {
  height: 70%;
  width: 85%;
  margin-top: 7%;
  background-color: #A4BE3D;
  border-radius: 20px;
}

.bottom {
  display: flex;
  height:40%;
  width: 85%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.col-1 {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.num-1 {
  width: 90px; /* Set the width of the egg */
  height: 50px; /* Set the height of the egg */
  background: linear-gradient(240deg, #8C92B5 8.87%, #CED2F3 95.56%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50% 70% 50% 70% / 50% 70% 50% 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-2 {
  width: 90px; /* Set the width of the egg */
  height: 50px; /* Set the height of the egg */
  background: linear-gradient(240deg, #8C92B5 8.87%, #CED2F3 95.56%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60% 60% 50% 50% / 40% 40% 70% 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-3 {
  width: 90px; /* Set the width of the egg */
  height: 50px; /* Set the height of the egg */
  background: linear-gradient(240deg, #8C92B5 8.87%, #CED2F3 95.56%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70% 50% 70% 50% / 70% 50% 70% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}